.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    135deg,
    #0d6efd,
    #00b4d8
  );
}

.login-card{
  width:400px;
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.2);
}

.login-card h1{
  color:#0d6efd;
  margin-bottom:10px;
}

.login-card h3{
  color:#666;
  margin-bottom:25px;
}

.login-card form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.login-card input{
  padding:12px;
  border:1px solid #ccc;
  border-radius:10px;
  font-size:16px;
}

.login-card button{
  background:#0d6efd;
  color:white;
  border:none;
  padding:12px;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

.login-card button:hover{
  background:#0056d2;
}

.login-card span{
  color:#0d6efd;
  font-weight:bold;
  cursor:pointer;
}